.right-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 15px;

	.tura {
		margin-left: 220px;
		font-family: "Creepster", cursive;
		font-size: 50px;
		letter-spacing: 10px;
	}

	.difficulties {
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		width: 540px;
		height: 40px;
		margin-left: 30px;
		margin-top: 10px;

		span {
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.right-container-action-buttons {
		display: flex;
		justify-content: space-around;
		width: 540px;
		margin-bottom: 20px;

		.use-spot {
			height: 50px;
			width: 150px;
			background-color: rgb(156, 156, 156);
			border: 3px solid black;
			border-radius: 15px;

			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.use-spot-active {
			background-color: rgb(184, 165, 102);
			cursor: pointer;
		}

		.end-round {
			height: 50px;
			width: 150px;
			background-color: rgb(184, 165, 102);
			border: 3px solid black;
			border-radius: 15px;
			cursor: pointer;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.use-spot-active:hover {
		background-color: rgb(255, 234, 166);
	}
	.end-round:hover {
		background-color: rgb(255, 234, 166);
	}

	.event-cards-and-items-container {
		display: flex;
		justify-content: center;
		height: 400px;
		width: 540px;

		.item-list-container {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background-image: url(../../img/paper.png);
			background-size: cover;
			width: 55%;
			height: 390px;

			.item-list-span {
				font-size: 13.5px;
				margin-top: 30px;
				font-family: "Patrick Hand", cursive;
			}
			.item-list-container2 {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				width: 100%;
				height: 80%;

				h1 {
					font-size: 20px;
					font-weight: bold;
					margin-top: 10px;
				}

				p {
					font-size: 15px;
					font-style: italic;
					margin-top: 10px;
				}

				span {
					font-size: 15px;
					margin-top: 10px;
				}
			}

			.item-description-right {
				position: absolute;
				height: 0px;
				width: 200px;
				background-color: rgb(255, 255, 255);
				border-radius: 20px;
				transition: 0.2s;
			}

			.description-right {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				overflow: hidden;
				color: black;
			}

			.axe-description-right {
				left: -120px;
				top: -370px;

				img {
					width: 75px;
					margin-top: 10px;
				}

				.axe-price {
					display: flex;
					justify-content: center;
					margin-top: 50px;

					img {
						width: 60px;
					}
				}
			}

			.shoes-description-right {
				left: -220px;
				top: -130px;

				img {
					width: 105px;
					margin-top: 20px;
				}

				.shoes-price {
					display: flex;
					justify-content: center;
					margin-top: 30px;

					img {
						width: 60px;
					}
				}
			}

			.torch-description-right {
				left: -260px;
				top: -120px;

				img {
					width: 25px;
					margin-top: 10px;
				}

				.torch-price {
					display: flex;
					justify-content: center;
					margin-top: 30px;

					img {
						width: 60px;
					}
				}
			}

			.sword-description-right {
				left: -120px;
				top: -365px;

				img {
					width: 75px;
					margin-top: 10px;
				}

				.sword-price {
					display: flex;
					justify-content: center;
					margin-top: 50px;

					img {
						width: 60px;
					}
				}
			}
			.food-description-right {
				left: -260px;
				top: -120px;

				img {
					width: 75px;
					margin-top: 10px;
				}

				.food-price {
					display: flex;
					justify-content: center;
					margin-top: 50px;

					img {
						width: 45px;
					}
				}
			}
			.coat-description-right {
				left: -265px;
				top: -120px;

				img {
					width: 75px;
					margin-top: 10px;
				}

				.coat-price {
					display: flex;
					justify-content: center;
					margin-top: 50px;

					img {
						width: 60px;
					}
				}
			}

			.item-list-column-left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 10px;

				.item-clickable {
					cursor: pointer;
				}

				.item-clickable:hover {
					background-color: rgb(255, 207, 161);
					border-radius: 10%;
					box-shadow: 0 0 10px 10px rgb(255, 207, 161);
				}

				.right-img-div {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 5px;
					border: none;
					background: none;
					width: 90px;
					height: 100px;
					padding: 0;
				}

				.axe {
					position: relative;
					background-image: url(../../img/siekiera.png);
					background-size: cover;

					width: 82px;
					height: 95px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 84px;
						height: 97px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.axe:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}

				.shoes {
					position: relative;
					background-image: url(../../img/lacie.png);
					background-size: cover;
					width: 111px;
					height: 70px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 111px;
						height: 70px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.shoes:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}

				.torch {
					position: relative;
					background-image: url(../../img/pochodnia.png);
					background-size: cover;
					width: 29px;
					height: 90px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 29px;
						height: 90px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.torch:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}
			}

			.item-list-column-right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.item-clickable {
					cursor: pointer;
				}

				.item-clickable:hover {
					background-color: rgb(255, 207, 161);
					border-radius: 10%;
					box-shadow: 0 0 10px 10px rgb(255, 207, 161);
				}

				.right-img-div {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 10px 5px;
					border: none;
					background: none;
					width: 90px;
					height: 100px;
					padding: 0;
				}

				.sword {
					position: relative;
					background-image: url(../../img/miecz.png);
					background-size: cover;
					width: 75px;
					height: 95px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 82px;
						height: 95px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.sword:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}

				.food {
					position: relative;
					background-image: url(../../img/leczo.png);
					background-size: cover;
					width: 88px;
					height: 70px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 88px;
						height: 70px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.food:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}

				.coat {
					position: relative;
					background-image: url(../../img/ponczo.png);
					background-size: cover;
					width: 90px;
					height: 70px;

					.shadow {
						background-color: rgba(116, 0, 0, 0.5);
						width: 90px;
						height: 70px;
						border-radius: 20px;
						box-shadow: 0 0 10px rgb(119, 0, 0);
					}
				}

				.coat:hover .item-description-right {
					height: 350px;
					border: 3px solid black;
				}
			}
		}
	}
}
.instruction {
	height: 50px;
	width: 150px;
	background-color: rgb(184, 165, 102);
	border: 3px solid black;
	border-radius: 15px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.instruction:hover {
	background-color: rgb(255, 234, 166);
}
