body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Signika Negative", sans-serif;
	background-color: rgb(218, 197, 131);
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.App {
	width: 100%;
}
