.start-main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.start-main-container .title-menu {
  font-family: "Creepster", cursive;
  font-size: 90px;
  margin-top: 40px;
  margin-bottom: 70px;
  letter-spacing: 10px;
}
.start-main-container .character-selection-text {
  font-size: 40px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.start-main-container .char-img {
  height: 120px;
  width: 75px;
  margin: 20px;
  border: 4px solid black;
  border-radius: 20px;
  padding: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.start-main-container .char-img-1:hover {
  background-color: rgb(253, 234, 173);
  box-shadow: 0 0 15px rgb(253, 234, 173);
}
.start-main-container .char-img-2:hover {
  background-color: rgb(253, 234, 173);
  box-shadow: 0 0 15px rgb(253, 234, 173);
}
.start-main-container .char-img-3:hover {
  background-color: rgb(253, 234, 173);
  box-shadow: 0 0 15px rgb(253, 234, 173);
}
.start-main-container .char-img-4:hover {
  background-color: rgb(253, 234, 173);
  box-shadow: 0 0 15px rgb(253, 234, 173);
}
.start-main-container .char-img-5:hover {
  background-color: rgb(253, 234, 173);
  box-shadow: 0 0 15px rgb(253, 234, 173);
}
.start-main-container .start-btn {
  border: 3px solid rgb(104, 84, 54);
  background-color: rgb(255, 196, 108);
  border-radius: 20px;
  height: 80px;
  width: 250px;
  margin-top: 20px;
  font-size: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.start-main-container .start-btn:hover {
  background-color: rgb(219, 168, 92);
}
.start-main-container .copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}
.start-main-container .copyright-container span {
  font-size: 15px;
}
.start-main-container .copyright-container .copyright-text {
  letter-spacing: 2px;
}