.stats-notifications-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 200px;
  opacity: 1;
  animation: statsNotificationAnimation 0.8s ease-out forwards;
}
.stats-notifications-container .stats-notifications-span {
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.stats-notifications-container .life {
  color: rgb(207, 0, 0);
}
.stats-notifications-container .energy {
  color: rgb(37, 37, 255);
}
.stats-notifications-container .starvation {
  color: rgb(211, 247, 10);
}
.stats-notifications-container .sanity {
  color: #00ff00;
}
.stats-notifications-container .temp {
  color: rgb(255, 174, 25);
}

@keyframes statsNotificationAnimation {
  0% {
    top: 200px;
    opacity: 1;
  }
  80% {
    top: 120px;
    opacity: 1;
  }
  100% {
    top: 120px;
    opacity: 0;
  }
}